.header-header {
  width: 100%;
  display: flex;
  z-index: 150;
  position: fixed;
  max-width: auto;
  align-items: center;
  justify-content: center;
}
.header-navbar-interactive {
  color: var(--dl-color-gray-white);
  width: 100%;
  display: flex;
  box-shadow: 1px 1px 10px 0px #545353;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
  background-color: var(--dl-color-gray-black);
}
.header-image {
  width: 10%;
  height: auto;
}
.header-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.header-links {
  flex: 1;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.header-navlink {
  font-size: 28px;
  font-family: "Jost";
  padding-left: var(--dl-space-space-twounits);
  text-decoration: none;
  background-color: transparent;
}
.header-navlink1 {
  font-size: 28px;
  font-family: "Jost";
  text-decoration: none;
  background-color: transparent;
}
.header-navlink2 {
  font-size: 28px;
  font-family: "Jost";
  text-decoration: none;
  background-color: transparent;
}
.header-navlink3 {
  font-size: 28px;
  font-family: "Jost";
  text-decoration: none;
  background-color: transparent;
}
.header-link {
  font-size: 28px;
  align-self: center;
  text-align: center;
  font-family: "Jost";
  text-decoration: none;
  background-color: transparent;
}
.header-burger-menu {
  display: none;
}
.header-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.header-mobile-menu {
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-black);
}
.header-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.header-logo {
  height: 2rem;
}
.header-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.header-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.header-navlink4 {
  font-size: 20px;
  font-family: "Jost";
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-navlink5 {
  font-size: 20px;
  font-family: "Jost";
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-link1 {
  font-size: 20px;
  font-family: "Jost";
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-navlink6 {
  font-size: 20px;
  font-family: "Jost";
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-text2 {
  font-size: 20px;
  font-family: "Jost";
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}




@media(max-width: 1600px) {
  .header-mobile-menu {
    background-color: var(--dl-color-gray-black);
  }
}
@media(max-width: 767px) {
  .header-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .header-navlink {
    padding-left: var(--dl-space-space-unit);
  }
  .header-navlink1 {
    padding-left: var(--dl-space-space-unit);
  }
  .header-navlink2 {
    padding-left: var(--dl-space-space-unit);
  }
  .header-navlink3 {
    padding-left: var(--dl-space-space-unit);
  }
  .header-link {
    padding-left: var(--dl-space-space-unit);
  }
  .header-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .header-icon {
    fill: var(--dl-color-gray-white);
  }
  .header-navlink4 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-navlink5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-navlink6 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-text {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 500px) {
  .header-header {
    padding: 0px;
  }
  .header-navbar-interactive {
    padding: var(--dl-space-space-unit);
    position: relative;
  }
  .header-image {
    width: 25%;
  }
  .header-desktop-menu {
    display: none;
  }
  .header-burger-menu {
    width: auto;
    height: auto;
    display: flex;
    align-self: center;
    justify-content: flex-end;
  }
  .header-icon {
    width: 10%;
    height: auto;
    align-self: center;
  }
  .header-mobile-menu {
    top: 0px;
    right: 0px;
    width: 100%;
    height: auto;
    padding: 0px;
    position: absolute;
    align-self: stretch;
    align-items: flex-end;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
  }
  .header-nav {
    align-items: flex-start;
  }
  .header-top {
    height: auto;
  }
  .header-logo {
    width: 50%;
    height: auto;
  }
  .header-close-menu {
    justify-content: flex-end;
  }
  .header-icon2 {
    fill: var(--dl-color-gray-white);
    width: 50%;
    height: auto;
  }
  .header-links1 {
    width: 100%;
    align-self: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .header-navlink4 {
    width: 80%;
    padding: var(--dl-space-space-unit);
    font-size: 40px;
    text-align: left;
  }
  .header-navlink5 {
    width: 80%;
    padding: var(--dl-space-space-unit);
    font-size: 40px;
    text-align: left;
  }
  .header-link1 {
    width: 80%;
    padding: var(--dl-space-space-unit);
    font-size: 40px;
    text-align: left;
  }
  .header-navlink6 {
    width: 80%;
    padding: var(--dl-space-space-unit);
    font-size: 40px;
    text-align: left;
  }
  .header-text2 {
    width: 80%;
    padding: var(--dl-space-space-unit);
    font-size: 40px;
    text-align: left;
  }
}
@media(max-width: 479px) {
  .header-header {
    padding: var(--dl-space-space-unit);
  }
  .header-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .header-mobile-menu {
    padding: 16px;
  }
}

.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.footer-container {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.footer-link {
  display: contents;
}
.footer-image {
  width: 50%;
  height: auto;
  margin-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
}
.footer-link1 {
  color: var(--dl-color-gray-white);
  font-size: 20px;
  font-family: "Jost";
  text-decoration: none;
}
.footer-link2 {
  color: var(--dl-color-gray-white);
  font-size: 20px;
  font-family: "Jost";
  text-decoration: none;
}
.footer-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.footer-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-navlink {
  color: var(--dl-color-gray-white);
  font-size: 20px;
  font-family: "Jost";
  text-decoration: none;
}
.footer-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-link3 {
  display: contents;
}
.footer-icon {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: auto;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.footer-link4 {
  display: contents;
}
.footer-icon2 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: auto;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.footer-link5 {
  display: contents;
}
.footer-icon4 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: auto;
  text-decoration: none;
}




@media(max-width: 767px) {
  .footer-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-image {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .footer-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .footer-container1 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-navlink {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .footer-footer {
    padding: var(--dl-space-space-unit);
  }
  .footer-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .footer-container1 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-navlink {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}

.page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-black);
}
.page-seperator {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-300);
}
.page-hero {
  width: 75%;
  display: flex;
  max-width: auto;
  min-height: 600px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.page-container1 {
  display: flex;
  margin-right: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.page-text {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
  max-width: 450px;
  font-family: "Jost";
}
.page-text1 {
  font-family: "Jost";
}
.page-text2 {
  font-family: "Jost";
}
.page-text3 {
  font-family: "Jost";
}
.page-text4 {
  color: var(--dl-color-gray-500);
  font-size: 18px;
  margin-top: var(--dl-space-space-twounits);
  font-family: "Jost";
  margin-bottom: var(--dl-space-space-twounits);
}
.page-image {
  width: 50%;
  object-fit: cover;
}
@media(max-width: 991px) {
  .page-hero {
    min-height: auto;
    flex-direction: column;
  }
  .page-container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .page-text {
    text-align: center;
  }
  .page-text4 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .page-seperator {
    height: 92px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .page-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .page-text4 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .page-image {
    width: 80%;
  }
}
@media(max-width: 500px) {
  .page-seperator {
    width: 100%;
    height: 63px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .page-hero {
    padding: var(--dl-space-space-twounits);
  }
  .page-image {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .page-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .page-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
}
