.seperator-seperator {
  width: 100%;
  display: flex;
  position: relative;
  max-width: auto;
  margin-top: var(--dl-space-space-threeunits);
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: var(--dl-color-primary-300);
}
.seperator-root-class-name {
  max-width: auto;
}
.seperator-root-class-name1 {
  width: 75%;
  margin-top: var(--dl-space-space-threeunits);
}

.seperator-root-class-name3 {
  width: 75%;
}
.seperator-root-class-name4 {
  width: 75%;
}
.seperator-root-class-name5 {
  width: 75%;
}
.seperator-root-class-name6 {
  width: 100%;
  margin-top: var(--dl-space-space-threeunits);
}

@media(max-width: 767px) {
  .seperator-seperator {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 400px) {
  .seperator-seperator {
    margin-top: var(--dl-space-space-twounits);
    padding-top: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .seperator-root-class-name5 {
    width: 75%;
    height: auto;
    margin-top: var(--dl-space-space-threeunits);
    margin-bottom: var(--dl-space-space-threeunits);
  }
}

.gallery-card13-gallery-card {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery-card13-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-card13-text {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.gallery-card13-text1 {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
}






























@media(max-width: 767px) {
  .gallery-card13-gallery-card {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .gallery-card13-image {
    height: 10rem;
  }
}

.projects-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-black);
}
.projects-header {
  width: 100%;
  display: flex;
  z-index: 150;
  position: fixed;
  max-width: auto;
  align-items: center;
  justify-content: center;
}
.projects-navbar-interactive {
  color: var(--dl-color-gray-white);
  width: 100%;
  display: flex;
  box-shadow: 1px 1px 10px 0px #545353;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-black);
}
.projects-image {
  width: 10%;
  height: auto;
}
.projects-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.projects-links {
  flex: 1;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.projects-navlink {
  font-size: 25px;
  padding-left: var(--dl-space-space-twounits);
  text-decoration: none;
  background-color: transparent;
}
.projects-navlink1 {
  font-size: 25px;
  text-decoration: none;
  background-color: transparent;
}
.projects-navlink2 {
  font-size: 25px;
  text-decoration: none;
  background-color: transparent;
}
.projects-navlink3 {
  font-size: 25px;
  text-decoration: none;
  background-color: transparent;
}
.projects-link {
  font-size: 25px;
  text-decoration: none;
  background-color: transparent;
}
.projects-burger-menu {
  display: none;
}
.projects-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.projects-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-black);
}
.projects-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.projects-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.projects-logo {
  height: 2rem;
}
.projects-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.projects-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.projects-navlink4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.projects-navlink5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.projects-navlink6 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.projects-navlink7 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.projects-text02 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.projects-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.projects-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.projects-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.projects-seperator {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 144px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
  background-color: var(--dl-color-primary-300);
}
.projects-container1 {
  width: 75%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.projects-heading {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-fourunits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.projects-heading1 {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
}
.projects-text04 {
  font-style: italic;
  font-family: "Playfair Display";
  font-weight: 500;
}
.projects-image-content {
  width: 70%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
}
.projects-container2 {
  width: 75%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.projects-slider {
  width: 100%;
  height: 334px;
  margin: var(--dl-space-space-fiveunits);
  display: inline-block;
}
.projects-slider-slide {
  width: auto;
  height: auto;
  display: flex;
  background-size: 100%;
  background-image: url('https://raw.githubusercontent.com/Chanceium/ErnstConstruction-HTML/main/Photos/Projects/s1.webp');
}
.projects-slider-slide01 {
  display: flex;
  background-size: 100%;
  background-image: url('https://raw.githubusercontent.com/Chanceium/ErnstConstruction-HTML/main/Photos/Projects/s2.webp');
}
.projects-slider-slide02 {
  display: flex;
  background-size: 100%;
  background-image: url('https://raw.githubusercontent.com/Chanceium/ErnstConstruction-HTML/main/Photos/Projects/s3.webp');
}
.projects-slider-pagination {
  display: block;
}
.projects-text06 {
  color: var(--dl-color-gray-white);
  align-self: flex-start;
}
.projects-text09 {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
}
.projects-slider1 {
  width: 100%;
  height: 334px;
  margin: var(--dl-space-space-fiveunits);
  display: inline-block;
}
.projects-slider-slide03 {
  display: flex;
  background-size: 100%;
  background-image: url('https://raw.githubusercontent.com/Chanceium/ErnstConstruction-HTML/main/Photos/Projects/ms1.webp');
}
.projects-slider-slide04 {
  display: flex;
  background-size: 100%;
  background-image: url('https://images.unsplash.com/photo-1697384333613-de519c7367c4?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY5OTk3NzAzN3w&ixlib=rb-4.0.3&q=80&w=900');
}
.projects-slider-slide05 {
  display: flex;
  background-size: 100%;
  background-image: url('https://images.unsplash.com/photo-1698180687511-bd6c0104ee98?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY5OTk3NzQ5NXw&ixlib=rb-4.0.3&q=80&w=900');
}
.projects-slider-pagination1 {
  display: block;
}
.projects-text10 {
  color: var(--dl-color-gray-white);
  align-self: flex-start;
}
.projects-text13 {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
}
.projects-container3 {
  width: 75%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.projects-slider2 {
  width: 100%;
  height: 334px;
  margin: var(--dl-space-space-fiveunits);
  display: inline-block;
}
.projects-slider-slide06 {
  width: auto;
  height: auto;
  display: flex;
  background-size: 100%;
  background-image: url('https://raw.githubusercontent.com/Chanceium/ErnstConstruction-HTML/main/Photos/Projects/s1.webp');
}
.projects-slider-slide07 {
  display: flex;
  background-size: 100%;
  background-image: url('https://raw.githubusercontent.com/Chanceium/ErnstConstruction-HTML/main/Photos/Projects/s2.webp');
}
.projects-slider-slide08 {
  display: flex;
  background-size: 100%;
  background-image: url('https://raw.githubusercontent.com/Chanceium/ErnstConstruction-HTML/main/Photos/Projects/s3.webp');
}
.projects-slider-pagination2 {
  display: block;
}
.projects-text14 {
  color: var(--dl-color-gray-white);
  align-self: flex-start;
}
.projects-text17 {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
}
.projects-slider3 {
  width: 100%;
  height: 334px;
  margin: var(--dl-space-space-fiveunits);
  display: inline-block;
}
.projects-slider-slide09 {
  display: flex;
  background-size: 100%;
  background-image: url('https://raw.githubusercontent.com/Chanceium/ErnstConstruction-HTML/main/Photos/Projects/ms1.webp');
}
.projects-slider-slide10 {
  display: flex;
  background-size: 100%;
  background-image: url('https://images.unsplash.com/photo-1697384333613-de519c7367c4?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY5OTk3NzAzN3w&ixlib=rb-4.0.3&q=80&w=900');
}
.projects-slider-slide11 {
  display: flex;
  background-size: 100%;
  background-image: url('https://images.unsplash.com/photo-1698180687511-bd6c0104ee98?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY5OTk3NzQ5NXw&ixlib=rb-4.0.3&q=80&w=900');
}
.projects-slider-pagination3 {
  display: block;
}
.projects-text18 {
  color: var(--dl-color-gray-white);
  align-self: flex-start;
}
.projects-text19 {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
}
.projects-container4 {
  width: 75%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.projects-gallery {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  grid-template-columns: 1fr 1fr 1fr;
}
.projects-footer {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.projects-container5 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.projects-link1 {
  display: contents;
}
.projects-image1 {
  width: 50%;
  height: auto;
  margin-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
}
.projects-link2 {
  color: var(--dl-color-gray-white);
  text-decoration: none;
}
.projects-link3 {
  color: var(--dl-color-gray-white);
  text-decoration: none;
}
.projects-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.projects-container6 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.projects-text20 {
  color: var(--dl-color-gray-white);
}
.projects-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.projects-link4 {
  display: contents;
}
.projects-icon10 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: auto;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.projects-link5 {
  display: contents;
}
.projects-icon12 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: auto;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.projects-link6 {
  display: contents;
}
.projects-icon14 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: auto;
  text-decoration: none;
}
@media(max-width: 1600px) {
  .projects-mobile-menu {
    background-color: var(--dl-color-gray-black);
  }
  .projects-slider {
    height: 674px;
  }
  .projects-slider1 {
    height: 674px;
  }
  .projects-slider2 {
    height: 674px;
  }
  .projects-slider3 {
    height: 674px;
  }
}
@media(max-width: 1200px) {
  .projects-container {
    background-color: var(--dl-color-gray-black);
  }
  .projects-container1 {
    width: 75%;
  }
  .projects-image-content {
    width: 75%;
  }
  .projects-container2 {
    width: 75%;
  }
  .projects-slider {
    height: 504px;
  }
  .projects-slider1 {
    height: 504px;
  }
  .projects-container3 {
    width: 75%;
  }
  .projects-slider2 {
    height: 504px;
  }
  .projects-slider3 {
    height: 504px;
  }
  .projects-container4 {
    width: 75%;
  }
}
@media(max-width: 991px) {
  .projects-slider {
    height: 408px;
  }
  .projects-slider1 {
    height: 408px;
  }
  .projects-slider2 {
    height: 408px;
  }
  .projects-slider3 {
    height: 408px;
  }
  .projects-gallery {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .projects-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .projects-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .projects-icon {
    fill: var(--dl-color-gray-white);
  }
  .projects-navlink4 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .projects-navlink5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .projects-navlink6 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .projects-text {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .projects-navlink7 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .projects-text02 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .projects-seperator {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .projects-heading1 {
    font-size: 36px;
    line-height: 42px;
  }
  .projects-slider {
    height: 322px;
  }
  .projects-slider1 {
    height: 322px;
  }
  .projects-slider2 {
    height: 322px;
  }
  .projects-slider3 {
    height: 322px;
  }
  .projects-gallery {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .projects-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .projects-image1 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .projects-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .projects-container6 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .projects-text20 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .projects-header {
    padding: var(--dl-space-space-unit);
  }
  .projects-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .projects-mobile-menu {
    padding: 16px;
  }
  .projects-gallery {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .projects-footer {
    padding: var(--dl-space-space-unit);
  }
  .projects-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .projects-container6 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .projects-text20 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 400px) {
  .projects-header {
    padding: 0px;
  }
  .projects-navbar-interactive {
    padding: var(--dl-space-space-unit);
    position: relative;
  }
  .projects-image {
    width: 25%;
  }
  .projects-desktop-menu {
    display: none;
  }
  .projects-burger-menu {
    width: auto;
    height: auto;
    display: flex;
    align-self: center;
    justify-content: flex-end;
  }
  .projects-icon {
    width: 10%;
    height: auto;
    align-self: center;
  }
  .projects-mobile-menu {
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    margin: auto;
    position: absolute;
    align-self: stretch;
    background-color: var(--dl-color-gray-black);
  }
  .projects-logo {
    width: 25%;
    height: auto;
  }
  .projects-close-menu {
    justify-content: flex-end;
  }
  .projects-icon02 {
    fill: var(--dl-color-gray-white);
    width: 15%;
    height: auto;
  }
  .projects-seperator {
    height: 50px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10%;
  }
  .projects-slider {
    height: 170px;
  }
  .projects-slider1 {
    height: 170px;
  }
  .projects-slider2 {
    height: 170px;
  }
  .projects-slider3 {
    height: 170px;
  }
}
