.blog-post-card4-blog-post-card {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
}
.blog-post-card4-blog-post-card:hover {
  transform: scale(1.02);
}
.blog-post-card4-image {
  width: 100%;
  height: 100%;
  max-height: 50rem;
  object-fit: cover;
  border-radius: 0px;
}
.blog-post-card4-container {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.blog-post-card4-text {
  color: var(--dl-color-gray-500);
  margin-top: var(--dl-space-space-unit);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.blog-post-card4-text1 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 300;
}
.blog-post-card4-separator {
  width: 40%;
  height: 1px;
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-900);
}
.blog-post-card4-text2 {
  color: var(--dl-color-gray-700);
  font-weight: 700;
}
.blog-post-card4-root-class-name {
  margin-bottom: 64px;
}

.blog-post-card4-root-class-name2 {
  margin-bottom: 48px;
}




.blog-post-card4-root-class-name7 {
  margin-bottom: 48px;
}





.blog-post-card4-root-class-name13 {
  margin-bottom: 48px;
}

.blog-post-card4-root-class-name15 {
  margin-bottom: 48px;
}





.blog-post-card4-root-class-name21 {
  margin-bottom: 48px;
}

.blog-post-card4-root-class-name23 {
  margin-bottom: 48px;
}





.blog-post-card4-root-class-name29 {
  margin-bottom: 48px;
}

.blog-post-card4-root-class-name31 {
  margin-bottom: 48px;
}


.seperator-seperator {
  width: 100%;
  display: flex;
  position: relative;
  max-width: auto;
  margin-top: var(--dl-space-space-threeunits);
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: var(--dl-color-primary-300);
}
.seperator-root-class-name {
  max-width: auto;
}
.seperator-root-class-name1 {
  width: 75%;
  margin-top: var(--dl-space-space-threeunits);
}

.seperator-root-class-name3 {
  width: 75%;
}
.seperator-root-class-name4 {
  width: 75%;
}
.seperator-root-class-name5 {
  width: 75%;
}
.seperator-root-class-name6 {
  width: 100%;
  margin-top: var(--dl-space-space-threeunits);
}

@media(max-width: 767px) {
  .seperator-seperator {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 400px) {
  .seperator-seperator {
    margin-top: var(--dl-space-space-twounits);
    padding-top: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .seperator-root-class-name5 {
    width: 75%;
    height: auto;
    margin-top: var(--dl-space-space-threeunits);
    margin-bottom: var(--dl-space-space-threeunits);
  }
}

.services-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-black);
}
.services-header {
  width: 100%;
  display: flex;
  z-index: 150;
  position: fixed;
  max-width: auto;
  align-items: center;
  justify-content: center;
}
.services-navbar-interactive {
  color: var(--dl-color-gray-white);
  width: 100%;
  display: flex;
  box-shadow: 1px 1px 10px 0px #545353;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-black);
}
.services-image {
  width: 10%;
  height: auto;
}
.services-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.services-links {
  flex: 1;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.services-navlink {
  font-size: 25px;
  padding-left: var(--dl-space-space-twounits);
  text-decoration: none;
  background-color: transparent;
}
.services-navlink1 {
  font-size: 25px;
  text-decoration: none;
  background-color: transparent;
}
.services-navlink2 {
  font-size: 25px;
  text-decoration: none;
  background-color: transparent;
}
.services-navlink3 {
  font-size: 25px;
  text-decoration: none;
  background-color: transparent;
}
.services-link {
  font-size: 25px;
  text-decoration: none;
  background-color: transparent;
}
.services-burger-menu {
  display: none;
}
.services-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.services-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-black);
}
.services-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.services-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.services-logo {
  height: 2rem;
}
.services-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.services-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.services-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.services-navlink4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.services-navlink5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.services-navlink6 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.services-navlink7 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.services-text2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.services-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.services-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.services-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.services-seperator {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 144px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
  background-color: var(--dl-color-primary-300);
}
.services-container1 {
  width: 75%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.services-heading {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-fourunits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.services-heading1 {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
}
.services-text4 {
  font-style: italic;
  font-family: "Playfair Display";
  font-weight: 500;
}
.services-designs1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.services-container2 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
.services-designs2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.services-container3 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
.services-footer {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.services-container4 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.services-link1 {
  display: contents;
}
.services-image1 {
  width: 50%;
  height: auto;
  margin-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
}
.services-link2 {
  color: var(--dl-color-gray-white);
  text-decoration: none;
}
.services-link3 {
  color: var(--dl-color-gray-white);
  text-decoration: none;
}
.services-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.services-container5 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.services-text6 {
  color: var(--dl-color-gray-white);
}
.services-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.services-link4 {
  display: contents;
}
.services-icon10 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: auto;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.services-link5 {
  display: contents;
}
.services-icon12 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: auto;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.services-link6 {
  display: contents;
}
.services-icon14 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: auto;
  text-decoration: none;
}
@media(max-width: 1600px) {
  .services-mobile-menu {
    background-color: var(--dl-color-gray-black);
  }
}
@media(max-width: 1200px) {
  .services-container {
    background-color: var(--dl-color-gray-black);
  }
  .services-container1 {
    width: 75%;
  }
}
@media(max-width: 767px) {
  .services-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .services-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .services-icon {
    fill: var(--dl-color-gray-white);
  }
  .services-navlink4 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .services-navlink5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .services-navlink6 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .services-text {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .services-navlink7 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .services-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .services-seperator {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .services-heading1 {
    font-size: 36px;
    line-height: 42px;
  }
  .services-designs1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .services-container2 {
    flex: 0 0 auto;
    margin-left: 0px;
    margin-right: 0px;
  }
  .services-designs2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .services-container3 {
    flex: 0 0 auto;
    margin-left: 0px;
    margin-right: 0px;
  }
  .services-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .services-image1 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .services-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .services-container5 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .services-text6 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .services-header {
    padding: var(--dl-space-space-unit);
  }
  .services-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .services-mobile-menu {
    padding: 16px;
  }
  .services-designs1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .services-designs2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .services-footer {
    padding: var(--dl-space-space-unit);
  }
  .services-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .services-container5 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .services-text6 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 400px) {
  .services-header {
    padding: 0px;
  }
  .services-navbar-interactive {
    padding: var(--dl-space-space-unit);
    position: relative;
  }
  .services-image {
    width: 25%;
  }
  .services-desktop-menu {
    display: none;
  }
  .services-burger-menu {
    width: auto;
    height: auto;
    display: flex;
    align-self: center;
    justify-content: flex-end;
  }
  .services-icon {
    width: 10%;
    height: auto;
    align-self: center;
  }
  .services-mobile-menu {
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    margin: auto;
    position: absolute;
    align-self: stretch;
    background-color: var(--dl-color-gray-black);
  }
  .services-logo {
    width: 25%;
    height: auto;
  }
  .services-close-menu {
    justify-content: flex-end;
  }
  .services-icon02 {
    fill: var(--dl-color-gray-white);
    width: 15%;
    height: auto;
  }
  .services-seperator {
    height: 50px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10%;
  }
}
