.header-header {
  width: 100%;
  display: flex;
  z-index: 150;
  position: fixed;
  max-width: auto;
  align-items: center;
  justify-content: center;
}
.header-navbar-interactive {
  color: var(--dl-color-gray-white);
  width: 100%;
  display: flex;
  box-shadow: 1px 1px 10px 0px #545353;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
  background-color: var(--dl-color-gray-black);
}
.header-image {
  width: 10%;
  height: auto;
}
.header-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.header-links {
  flex: 1;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.header-navlink {
  font-size: 28px;
  font-family: "Jost";
  padding-left: var(--dl-space-space-twounits);
  text-decoration: none;
  background-color: transparent;
}
.header-navlink1 {
  font-size: 28px;
  font-family: "Jost";
  text-decoration: none;
  background-color: transparent;
}
.header-navlink2 {
  font-size: 28px;
  font-family: "Jost";
  text-decoration: none;
  background-color: transparent;
}
.header-navlink3 {
  font-size: 28px;
  font-family: "Jost";
  text-decoration: none;
  background-color: transparent;
}
.header-link {
  font-size: 28px;
  align-self: center;
  text-align: center;
  font-family: "Jost";
  text-decoration: none;
  background-color: transparent;
}
.header-burger-menu {
  display: none;
}
.header-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.header-mobile-menu {
  top: 0px;
  right: 0px;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 100;
  position: absolute;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-black);
}
.header-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.header-logo {
  height: 2rem;
}
.header-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.header-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.header-navlink4 {
  font-size: 20px;
  font-family: "Jost";
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-navlink5 {
  font-size: 20px;
  font-family: "Jost";
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-link1 {
  font-size: 20px;
  font-family: "Jost";
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-navlink6 {
  font-size: 20px;
  font-family: "Jost";
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-text2 {
  font-size: 20px;
  font-family: "Jost";
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}




@media(max-width: 1600px) {
  .header-mobile-menu {
    background-color: var(--dl-color-gray-black);
  }
}
@media(max-width: 767px) {
  .header-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .header-navlink {
    padding-left: var(--dl-space-space-unit);
  }
  .header-navlink1 {
    padding-left: var(--dl-space-space-unit);
  }
  .header-navlink2 {
    padding-left: var(--dl-space-space-unit);
  }
  .header-navlink3 {
    padding-left: var(--dl-space-space-unit);
  }
  .header-link {
    padding-left: var(--dl-space-space-unit);
  }
  .header-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .header-icon {
    fill: var(--dl-color-gray-white);
  }
  .header-navlink4 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-navlink5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-navlink6 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-text {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 500px) {
  .header-header {
    padding: 0px;
  }
  .header-navbar-interactive {
    padding: var(--dl-space-space-unit);
    position: relative;
  }
  .header-image {
    width: 25%;
  }
  .header-desktop-menu {
    display: none;
  }
  .header-burger-menu {
    width: auto;
    height: auto;
    display: flex;
    align-self: center;
    justify-content: flex-end;
  }
  .header-icon {
    width: 10%;
    height: auto;
    align-self: center;
  }
  .header-mobile-menu {
    width: 100%;
    height: auto;
    position: absolute;
    align-self: stretch;
    align-items: flex-end;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
  }
  .header-nav {
    align-items: flex-start;
  }
  .header-top {
    height: auto;
  }
  .header-logo {
    width: 50%;
    height: auto;
  }
  .header-close-menu {
    justify-content: flex-end;
  }
  .header-icon2 {
    fill: var(--dl-color-gray-white);
    width: 50%;
    height: auto;
  }
  .header-links1 {
    width: 100%;
    align-self: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .header-navlink4 {
    width: 80%;
    padding: var(--dl-space-space-unit);
    font-size: 40px;
    text-align: left;
  }
  .header-navlink5 {
    width: 80%;
    padding: var(--dl-space-space-unit);
    font-size: 40px;
    text-align: left;
  }
  .header-link1 {
    width: 80%;
    padding: var(--dl-space-space-unit);
    font-size: 40px;
    text-align: left;
  }
  .header-navlink6 {
    width: 80%;
    padding: var(--dl-space-space-unit);
    font-size: 40px;
    text-align: left;
  }
  .header-text2 {
    width: 80%;
    padding: var(--dl-space-space-unit);
    font-size: 40px;
    text-align: left;
  }
}
@media(max-width: 479px) {
  .header-header {
    padding: var(--dl-space-space-unit);
  }
  .header-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .header-mobile-menu {
    padding: 16px;
  }
}

.seperator-seperator {
  width: 100%;
  display: flex;
  position: relative;
  max-width: auto;
  margin-top: var(--dl-space-space-threeunits);
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: var(--dl-color-primary-300);
}
.seperator-root-class-name {
  max-width: auto;
}
.seperator-root-class-name1 {
  width: 75%;
  margin-top: var(--dl-space-space-threeunits);
}

.seperator-root-class-name3 {
  width: 75%;
}
.seperator-root-class-name4 {
  width: 75%;
}
.seperator-root-class-name5 {
  width: 75%;
}
.seperator-root-class-name6 {
  width: 100%;
  margin-top: var(--dl-space-space-threeunits);
}
.seperator-root-class-name7 {
  max-width: auto;
}

.seperator-root-class-name9 {
  max-width: auto;
}
.seperator-root-class-name10 {
  width: 75%;
}
@media(max-width: 767px) {
  .seperator-seperator {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 500px) {
  .seperator-seperator {
    margin-top: var(--dl-space-space-twounits);
    padding-top: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .seperator-root-class-name5 {
    width: 75%;
    height: auto;
    margin-top: var(--dl-space-space-threeunits);
    margin-bottom: var(--dl-space-space-threeunits);
  }
}

.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.footer-container {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.footer-link {
  display: contents;
}
.footer-image {
  width: 10%;
  height: auto;
  margin-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
}
.footer-link1 {
  color: var(--dl-color-gray-white);
  font-size: 20px;
  font-family: "Jost";
  text-decoration: none;
}
.footer-link2 {
  color: var(--dl-color-gray-white);
  font-size: 20px;
  font-family: "Jost";
  text-decoration: none;
}
.footer-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.footer-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-navlink {
  color: var(--dl-color-gray-white);
  font-size: 20px;
  font-family: "Jost";
  text-decoration: none;
}
.footer-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-link3 {
  display: contents;
}
.footer-icon {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: auto;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.footer-link4 {
  display: contents;
}
.footer-icon2 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: auto;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.footer-link5 {
  display: contents;
}
.footer-icon4 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: auto;
  text-decoration: none;
}




@media(max-width: 767px) {
  .footer-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-image {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .footer-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .footer-container1 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-navlink {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .footer-footer {
    padding: var(--dl-space-space-unit);
  }
  .footer-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .footer-container1 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-navlink {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}

.team-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-black);
}
.team-bio-header {
  width: 75%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: row;
}
.team-image {
  gap: 18px;
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.team-image1 {
  width: auto;
  height: 100%;
  align-self: center;
  object-fit: cover;
}
.team-person-info {
  gap: 18px;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.team-name {
  gap: 18px;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: row;
}
.team-text {
  color: var(--dl-color-gray-white);
  width: auto;
  height: auto;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: "Jost";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.team-text03 {
  font-size: 40px;
}
.team-social {
  gap: 18px;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.team-email {
  gap: 18px;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: row;
}
.team-icon {
  fill: var(--dl-color-primary-100);
  width: 24px;
  height: 24px;
}
.team-text05 {
  color: var(--dl-color-gray-white);
  width: auto;
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: "Jost";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.team-phone {
  gap: 18px;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: row;
}
.team-icon02 {
  fill: var(--dl-color-primary-100);
  width: 24px;
  height: 24px;
}
.team-text06 {
  color: var(--dl-color-gray-white);
  width: auto;
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: "Jost";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.team-web {
  gap: 18px;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: row;
}
.team-icon04 {
  fill: var(--dl-color-primary-100);
  width: 24px;
  height: 24px;
}
.team-text07 {
  color: var(--dl-color-gray-white);
  width: auto;
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: "Jost";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.team-bio-footer {
  width: 75%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team-bio {
  gap: var(--dl-space-space-tripleunit);
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
}
.team-sub-title {
  gap: 18px;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.team-text08 {
  color: var(--dl-color-gray-white);
  width: auto;
  height: auto;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: "Playfair Display";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.team-text09 {
  font-family: "Jost";
}
.team-text10 {
  font-style: italic;
  font-weight: 500;
}
.team-text11 {
  color: var(--dl-color-gray-500);
  width: auto;
  height: auto;
  font-size: 22px;
  font-style: Regular;
  text-align: left;
  font-family: "Jost";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.team-sub-content {
  gap: 95px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
}
.team-pathway {
  gap: 30px;
  width: 577px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.team-sub-title1 {
  gap: 12px;
  width: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.team-text18 {
  color: var(--dl-color-gray-white);
  height: auto;
  font-size: 25px;
  font-style: Regular;
  text-align: center;
  font-family: "Jost";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.team-text20 {
  font-style: italic;
  font-family: "Playfair Display";
  font-weight: 500;
}
.team-text22 {
  color: var(--dl-color-gray-500);
  width: auto;
  height: auto;
  font-size: 22px;
  font-style: Regular;
  text-align: left;
  font-family: "Jost";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.team-questions {
  gap: 19px;
  width: 529px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.team-title {
  gap: 12px;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.team-text33 {
  color: var(--dl-color-gray-white);
  height: auto;
  font-size: 25px;
  font-style: Regular;
  text-align: center;
  font-family: "Jost";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.team-text34 {
  color: var(--dl-color-gray-500);
  width: auto;
  height: auto;
  font-size: 22px;
  font-style: Regular;
  text-align: left;
  font-family: "Jost";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.team-sub-content1 {
  gap: 30px;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.team-frame1 {
  gap: 10px;
  width: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 18px;
  flex-direction: column;
  background-color: var(--dl-color-primary-100);
}
.team-content {
  gap: 15px;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.team-sub-title2 {
  gap: 170px;
  width: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.team-text36 {
  color: var(--dl-color-gray-black);
  height: auto;
  font-size: 18px;
  font-style: SemiBold;
  text-align: center;
  font-family: "Jost";
  font-weight: 600;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.team-icon06 {
  width: auto;
  height: var(--dl-size-size-small);
}
.team-text38 {
  color: var(--dl-color-gray-500);
  height: auto;
  margin: var(--dl-space-space-unit);
  font-size: 22px;
  font-style: Regular;
  text-align: left;
  font-family: "Jost";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.team-frame11 {
  gap: 10px;
  width: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 18px;
  flex-direction: column;
  background-color: var(--dl-color-primary-100);
}
.team-content1 {
  gap: 15px;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.team-sub-title3 {
  gap: 170px;
  width: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.team-text40 {
  color: var(--dl-color-gray-black);
  height: auto;
  font-size: 18px;
  font-style: SemiBold;
  text-align: center;
  font-family: "Jost";
  font-weight: 600;
  line-height: 125%;
  font-stretch: normal;
  text-decoration: none;
}
.team-icon08 {
  width: auto;
  height: var(--dl-size-size-small);
}
.team-text42 {
  color: var(--dl-color-gray-500);
  height: auto;
  margin: var(--dl-space-space-unit);
  font-size: 22px;
  font-style: Regular;
  text-align: left;
  font-family: "Jost";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
@media(max-width: 1200px) {
  .team-image {
    width: auto;
  }
  .team-person-info {
    width: auto;
  }
  .team-name {
    width: auto;
  }
  .team-social {
    width: auto;
  }
  .team-email {
    width: auto;
  }
  .team-phone {
    width: auto;
  }
  .team-web {
    width: auto;
  }
  .team-bio {
    width: 100%;
  }
  .team-sub-title {
    width: auto;
  }
  .team-sub-content {
    width: 100%;
  }
  .team-pathway {
    width: 50%;
  }
  .team-questions {
    width: 50%;
  }
}
@media(max-width: 991px) {
  .team-image1 {
    height: auto;
  }
  .team-sub-content1 {
    width: auto;
    height: auto;
  }
  .team-frame1 {
    width: auto;
    height: auto;
  }
  .team-content {
    width: auto;
  }
  .team-sub-title2 {
    width: auto;
  }
  .team-frame11 {
    width: auto;
    height: auto;
  }
  .team-content1 {
    width: auto;
  }
  .team-sub-title3 {
    width: auto;
  }
}
@media(max-width: 767px) {
  .team-bio-header {
    flex-direction: column;
  }
  .team-sub-content {
    flex-direction: row;
  }
  .team-title {
    width: auto;
  }
  .team-text34 {
    width: auto;
  }
  .team-sub-content1 {
    width: auto;
    align-self: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .team-frame1 {
    width: auto;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
  }
  .team-content {
    width: auto;
  }
  .team-sub-title2 {
    width: auto;
  }
  .team-text36 {
    color: var(--dl-color-gray-black);
    width: auto;
  }
  .team-icon06 {
    width: auto;
    height: var(--dl-size-size-medium);
  }
  .team-text38 {
    color: var(--dl-color-gray-500);
    width: auto;
  }
  .team-frame11 {
    width: auto;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
  }
  .team-content1 {
    width: auto;
  }
  .team-sub-title3 {
    width: auto;
  }
  .team-text40 {
    color: var(--dl-color-gray-black);
    width: auto;
  }
  .team-icon08 {
    width: auto;
    height: var(--dl-size-size-medium);
  }
  .team-text42 {
    color: var(--dl-color-gray-500);
    width: auto;
  }
}
@media(max-width: 500px) {
  .team-image1 {
    width: 90%;
    padding-top: var(--dl-space-space-threeunits);
  }
  .team-person-info {
    align-items: center;
  }
  .team-text {
    align-self: flex-start;
    text-align: center;
  }
  .team-text08 {
    padding-top: var(--dl-space-space-twounits);
  }
  .team-sub-content {
    gap: 0;
    align-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .team-pathway {
    width: 100%;
    align-self: center;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .team-sub-title1 {
    padding-top: var(--dl-space-space-unit);
  }
  .team-questions {
    width: 100%;
  }
  .team-title {
    align-self: center;
  }
  .team-text33 {
    align-self: flex-start;
  }
  .team-sub-content1 {
    align-self: center;
  }
  .team-frame1 {
    align-items: flex-start;
    justify-content: center;
  }
  .team-frame11 {
    align-items: flex-start;
    justify-content: center;
  }
}
