.team-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-black);
}
.team-header {
  width: 100%;
  display: flex;
  z-index: 150;
  position: fixed;
  max-width: auto;
  align-items: center;
  justify-content: center;
}
.team-navbar-interactive {
  color: var(--dl-color-gray-white);
  width: 100%;
  display: flex;
  box-shadow: 1px 1px 10px 0px #545353;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-black);
}
.team-image {
  width: 10%;
  height: auto;
}
.team-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.team-links {
  flex: 1;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.team-navlink {
  font-size: 25px;
  padding-left: var(--dl-space-space-twounits);
  text-decoration: none;
  background-color: transparent;
}
.team-navlink1 {
  font-size: 25px;
  text-decoration: none;
  background-color: transparent;
}
.team-navlink2 {
  font-size: 25px;
  text-decoration: none;
  background-color: transparent;
}
.team-text {
  font-size: 25px;
  text-decoration: none;
  background-color: transparent;
}
.team-burger-menu {
  display: none;
}
.team-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.team-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.team-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.team-logo {
  height: 2rem;
}
.team-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.team-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.team-navlink3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.team-navlink4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.team-navlink5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.team-text1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.team-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.team-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.team-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.team-seperator {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 140px;
  justify-content: center;
  background-color: var(--dl-color-primary-300);
}
.team-team-container {
  width: 75%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.team-team-container:hover {
  transform: scale(1.02);
}
.team-rj-container {
  width: 75%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.team-rj-container:hover {
  transform: scale(1.02);
}
.team-container1 {
  width: 90%;
  height: auto;
  display: flex;
  overflow: hidden;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.team-container1:hover {
  transform: scale(1.02);
}
.team-container2 {
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
}
.team-image1 {
  width: auto;
  height: auto;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.team-container3 {
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.team-text2 {
  color: var(--dl-color-gray-white);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: uppercase;
}
.team-text3 {
  color: var(--dl-color-gray-900);
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-twounits);
}
.team-text4 {
  color: var(--dl-color-gray-700);
  z-index: 100;
  font-style: normal;
  font-family: "Inter";
  font-weight: 500;
  margin-bottom: var(--dl-space-space-twounits);
}
.team-footer {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.team-container4 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.team-link {
  display: contents;
}
.team-image2 {
  width: 40%;
  height: auto;
  margin-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
}
.team-link1 {
  color: var(--dl-color-gray-white);
  text-decoration: none;
}
.team-link2 {
  color: var(--dl-color-gray-white);
  text-decoration: none;
}
.team-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.team-container5 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.team-text5 {
  color: var(--dl-color-gray-white);
}
.team-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.team-link3 {
  display: contents;
}
.team-icon10 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: auto;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.team-link4 {
  display: contents;
}
.team-icon12 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: auto;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.team-link5 {
  display: contents;
}
.team-icon14 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: auto;
  text-decoration: none;
}
@media(max-width: 1600px) {
  .team-mobile-menu {
    background-color: var(--dl-color-gray-black);
  }
  .team-team-container {
    width: 100%;
    box-shadow: 0px 0px 0px 0px rgba(18, 18, 18, 0.1);
  }
  .team-rj-container {
    box-shadow: 0px 0px 0px 0px rgba(18, 18, 18, 0.1);
  }
  .team-container1 {
    box-shadow: 0px 0px 0px 0px rgba(18, 18, 18, 0.1);
  }
}
@media(max-width: 991px) {
  .team-image1 {
    height: 350px;
  }
}
@media(max-width: 767px) {
  .team-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .team-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .team-icon {
    fill: var(--dl-color-gray-white);
  }
  .team-navlink3 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .team-navlink4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .team-navlink5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .team-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .team-seperator {
    height: 120px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .team-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .team-image2 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .team-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .team-container5 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .team-text5 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .team-header {
    padding: var(--dl-space-space-unit);
  }
  .team-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .team-mobile-menu {
    padding: 16px;
  }
  .team-footer {
    padding: var(--dl-space-space-unit);
  }
  .team-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .team-container5 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .team-text5 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 400px) {
  .team-header {
    padding: 0px;
  }
  .team-navbar-interactive {
    padding: var(--dl-space-space-unit);
    position: relative;
  }
  .team-image {
    width: 25%;
  }
  .team-desktop-menu {
    display: none;
  }
  .team-burger-menu {
    width: auto;
    height: auto;
    display: flex;
    align-self: center;
    justify-content: flex-end;
  }
  .team-icon {
    width: 10%;
    height: auto;
    align-self: center;
  }
  .team-mobile-menu {
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    margin: auto;
    position: absolute;
    align-self: stretch;
    background-color: var(--dl-color-gray-black);
  }
  .team-logo {
    width: 25%;
    height: auto;
  }
  .team-close-menu {
    justify-content: flex-end;
  }
  .team-icon02 {
    fill: var(--dl-color-gray-white);
    width: 15%;
    height: auto;
  }
  .team-seperator {
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10%;
  }
  .team-team-container {
    width: auto;
  }
  .team-rj-container {
    width: auto;
  }
}
