.seperator-seperator {
  width: 100%;
  display: flex;
  position: relative;
  max-width: auto;
  margin-top: var(--dl-space-space-threeunits);
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: var(--dl-color-primary-300);
}
.seperator-root-class-name {
  max-width: auto;
}
.seperator-root-class-name1 {
  width: 75%;
  margin-top: var(--dl-space-space-threeunits);
}

.seperator-root-class-name3 {
  width: 75%;
}
.seperator-root-class-name4 {
  width: 75%;
}
.seperator-root-class-name5 {
  width: 75%;
}
.seperator-root-class-name6 {
  width: 100%;
  margin-top: var(--dl-space-space-threeunits);
}
.seperator-root-class-name7 {
  max-width: auto;
}

.seperator-root-class-name9 {
  max-width: auto;
}
.seperator-root-class-name10 {
  width: 75%;
}
@media(max-width: 767px) {
  .seperator-seperator {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 500px) {
  .seperator-seperator {
    margin-top: var(--dl-space-space-twounits);
    padding-top: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .seperator-root-class-name5 {
    width: 75%;
    height: auto;
    margin-top: var(--dl-space-space-threeunits);
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
