.square-square {
  width: 50%;
  display: flex;
  position: relative;
  align-items: flex-start;
  aspect-ratio: 1;
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--dl-color-primary-300);
}
.square-root-class-name2 {
  width: 20%;
  align-self: flex-end;
}
@media(max-width: 991px) {
  .square-square {
    top: -20px;
    right: -20px;
    width: 50%;
  }
}
@media(max-width: 767px) {
  .square-square {
    width: 50%;
  }
}
@media(max-width: 500px) {
  .square-square {
    width: 50%;
  }
}
